body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;    
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.background-reasons {
  background-color: #81b3d2;
}

.reasons .caption {
  font-size: 21px;
  color: #ffffff;
}

.reasons .description {
  color: #ffffff;
  font-weight: 400;
}

.reasons-other-item {
  list-style: none;
}

.reasons .caption2 {
  font-size: 21px;
  color: #000000;
}

.reasons .description2 {
  font-weight: 400;
  color: #333333;
}

.feature-list {
  list-style: none;
}

.future-caption {
  font-size: 21px;
  color: #000000;
}

.future-description {
  font-weight: 400;
  color: #333333;
}

.hashtag {
  font-size: 21px;
  color: #000000;
}

.question {
  font-size: 30px;
  color: #000000;
}

/*.text {
  font-size: 26px;
}*/

.container {
  text-align: center;
  /*background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;*/
}

/*.container .text {
  font-size: 20px;
}

.text-small {
  font-weight: 400;
}

.text-very-small {
  font-size: 12px;
  font-weight: 400;
}*/

.button {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.button-hotel-search {
  background-color: #766357;
  padding: 34px 140px;
}

.button-hotel-search:hover {
  background-color: #604e43;
  cursor: pointer;
}

.button-hotel-search:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.button-travel-form {
  background-color: #81b3d2;
  padding: 20px 196px;
}

.button-travel-form:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.button-travel-form:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-sort {
  font-size: 12px;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dashed #81b3d2;
  font-weight: 400;
}

.button-sort:hover {
  color: #81b3d2;
}

.button-sort:focus {
  color: #000000;
  opacity: 1;
  border-bottom: none;
}

.button-hotel-list {
  color: #000000;
}

.button-hotel-list:hover {
  color: #81b3d2;
}

.button-hotel-list:focus {
  color: #000000;
  opacity: 0.3;
}

.button-filter {
  background-color: transparent;
  border: 2px solid #ffffff;
  font-weight: 400;
  padding: 11px 35px;
  border-radius: 3px;
  font-size: 14px;
}

.button-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-detail {
  background-color: #81b3d2;
  padding: 9px 19px;
  font-size: 14px;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  background-color: #5496bd;
}

.button-occupy {
  background-color: #766357;
  padding: 8px 17px;
  font-size: 14px;
}

.button-occupy:hover {
  background-color: #604e43;
}

.button-occupy:focus {
  background-color: #503e33;
}

.main-footer-item {
  list-style: none;
}

.button-main-footer {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-main-footer:hover {
  color: #ffffff;
  background-color: #669ec0;
  cursor: pointer;
}

.button-main-footer:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.footer-copyright span {
  font-weight: 400;
}

.travel-item {
  color: #000000;
}

.website {
  color: #000000;
}

::-webkit-input-placeholder {
  color: #000000;
  font-weight: bold;
}
:-moz-input-placeholder {
  color: #000000;
  font-weight: bold;
}
::-moz-input-placeholder {
  color: #000000;
  font-weight: bold;
}
:-ms-input-placeholder {
  color: #000000;
  font-weight: bold;
}

.filter {
  background-color: #86a5c4;
  color: #ffffff;
  line-height: 31px;
}

.filter-caption {
  font-size: 16px;
}

.filter-option {
  font-weight: 400;
  list-style: none;
}

.text-sort {
  font-size: 12px;
}

.hotels-item {
  list-style: none;
}

.hotel-list-info {
  color: #333333;
}

.rank {
  color: #666666;
}
