body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;    
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.big-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.container {
  position: relative;
}

.site-navigation {
  list-style: none;
  display: flex;
}

.main-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation-all {
  width: 20%;
}

.background-reasons {
  background-color: #81b3d2;
  display: flex;
  margin-bottom: 60px;
}

.background-reasons-nomargin {
  margin-bottom: 0px;
}

.reasons {
  line-height: 21px;
}

.reasons .caption {
  font-size: 21px;
  color: #ffffff;
}

.reasons .description {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 22px;
}

.reasons-other-item {
  list-style: none;
}

.reasons .caption2 {
  font-size: 21px;
  color: #000000;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 24px;
}

.feature {
  line-height: 21px;
  margin-bottom: 81px;
}

.future-caption {
  font-size: 21px;
  color: #000000;
  margin-top: 29px;
  margin-bottom: 24px;
}

.future-description {
  font-weight: 400;
  color: #333333;
  margin-bottom: 0px;
}

.topic {
  font-size: 21px;
  color: #000000;
}

.hashtag {
  font-size: 21px;
  color: #000000;
}

.hashtag1,
.topic1 {
  margin-bottom: 27px;
}

.hashtag-small,
.topic-small {
  font-weight: 400;
  color: #333333;
  margin-top: 0px;
  margin-bottom: -2px;
}

.hashtag-small-center,
.topic-small-center {
  padding: 0px 220px;
/*
  padding-left: 382px;
  padding-right: 382px;
*/
  text-align: center;
  margin-bottom: 46px;
}

.question {
  font-size: 30px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 26px;
}

.sort-result {
  font-size: 21px;
  color: #000000;
}

.button {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.button-hotel-search {
  background-color: #766357;
  padding: 31px 140px;
}

.button-hotel-search:hover {
  background-color: #604e43;
  cursor: pointer;
}

.button-hotel-search:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-travel-form {
  background-color: #81b3d2;
  padding: 0px;
  width: 458px;
  height: 58px;
  margin-top: auto;
  position: absolute;
  top: 282px;
}

.button-travel-form:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.button-travel-form:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-sort {
  font-size: 12px;
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
  font-weight: 400;
  line-height: 18px;
  margin-right: 33px;
  margin-top: 6px;
}

.button-sort:hover {
  color: rgba(129,179,210,1);
}

.button-sort:focus {
  color: rgba(0,0,0,1);
  border-bottom: none;
}

.button-sort-active, 
.button-sort-active:hover,
.button-sort-active:active, 
.button-sort-active:focus {
  color: rgba(129,179,210,1);
  border: none;
  margin-left: 2px;
  margin-top: 6px;
}


.button-hotel-list {
  color: #000000;
}

.button-hotel-list:hover {
  color: #81b3d2;
}

.button-hotel-list:focus {
  color: #000000;
  opacity: 0.3;
}

.button-filter {
  background-color: transparent;
  border: 2px solid #ffffff;
  font-weight: 400;
  padding: 11px 35px;
  border-radius: 3px;
  font-size: 14px;
}

.button-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-detail {
  background-color: #81b3d2;
  padding: 5px 16px;
  font-size: 14px;
  margin-right: 4px;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-occupy {
  background-color: #766357;
  padding: 5px 16px;
  font-size: 14px;
}

.button-occupy:hover {
  background-color: #604e43;
}

.button-occupy:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-main-footer {
  color: #ffffff;
  background-color: #81b3d2;
  margin-right: 6px;
}

.button-main-footer:hover {
  color: #ffffff;
  background-color: #669ec0;
  cursor: pointer;
}

.button-main-footer:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.travel-item {
  color: #000000;
}

.travel-item input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 144px;
  margin-top: -6px;
  border: none;
  background-color: #f2f2f2;
}

.travel-date-all {
  display: inline-block;
  background-color: #f2f2f2;
  padding-top: 4px;
}

.date-box {
  display: inline-block;
  width: 100px;
  margin-right: 7px;
  margin-top: 0px;
  margin-left: 2px;
}

.website {
  color: #000000;
  font-weight: 400;
  margin-right: -3px;
}

::-webkit-input-placeholder {
  color: #000000;
  font-weight: bold;
}
:-moz-input-placeholder {
  color: #000000;
  font-weight: bold;
}
::-moz-input-placeholder {
  color: #000000;
  font-weight: bold;
}
:-ms-input-placeholder {
  color: #000000;
  font-weight: bold;
}

.filter {
  color: #ffffff;
  line-height: 31px;
  display: flex;
  margin-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  background-image: url(../img/background-inner.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 217px;
  background-size: 1200px auto;
}

.filter-caption {
  font-size: 16px;
  line-height: 21px;
}

.filter-option {
  font-weight: 400;
  list-style: none;
  margin-bottom: 16px;
 /* background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;*/
}

.filter-label {
  line-height: 21px;
  margin-left: 16px;
}

.filter-label-margin {
  margin-left: 20px;
}

[type="checkbox"], [type="radio"] {
  margin-left: 6px;
}

.text-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 52px;
  margin-right: 38px;
  margin-top: 6px;
}

.hotels {
  margin-bottom: 38px;
}

.hotels-item {
  list-style: none;
  display: flex;
  margin-left: 73px;
  margin-right: 73px;
  height: 151px;
}

.hotels-item-text {
  display: inline-block;
  font-weight: 400;
  margin-right: 36px;
  margin-left: -1px;
  margin-top: 3px;
}

.hotels-item-text2 {
  margin-left: 25px;
}

.hotels-item-text3 {
  margin-left: -18px;
}

.hotels-button {
  display: block;
  margin-top: 12px;
}

.hotel-list-info {
  color: #333333;
  margin-left: 30px;
  margin-top: 41px;
}

.hotels-list-image {
  margin-top: 47px;
}

.hotels-list-comment {
  display: flex;
  margin-left: auto;
}

.hotels-list {
  padding-left: 0px;
}

.rank {
  color: #666666;
  font-weight: 400;
  line-height: 21px;
  background-color:  #f2f2f2;
  padding: 5px 14px 5px 17px;
  margin-top: 46px;
  margin-right: -3px;
}

/*Не понимаю почему не переопределяется на active-page, раньше все нормально работало (применялись стили для ссылки на активной странице)*/

.active-page a, 
.active-page a:hover,
.active-page a:active, 
.active-page a:focus {
  color: rgba(118,99,87,1); 
}

.visually-hidden {
  display: none;
}

/*
.future-caption {
  font-size: 21px;
  color: #000000;
  margin-top: 29px;
  margin-bottom: 24px;
}
*/

.future-caption1::after {
  content: "";
  position: absolute;
  top: -73px;
  left: 161px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.future-caption2::after {
  content: "";
  position: absolute;
  top: -73px;
  left: 161px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.future-caption3::after {
  content: "";
  position: absolute;
  top: -73px;
  left: 161px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-twitter::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 127px;
  width: 44px;
  height: 46px;
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(129, 179, 210, 1);
}

/*Опасити работает только на фон, на саму svg картинку нет, и первый и второй вариант*/

.social-twitter:hover::before,
.social-fb:hover::before,
.social-youtube:hover::before {
  background-color: rgba(102, 158, 192, 1);
  color: rgba(255, 255, 255, 0.3);
/*
  color: #669ec0;
  opacity: 0.3;
*/
}

.social-twitter:focus::before,
.social-twitter:active::before,
.social-fb:focus::before,
.social-fb:active::before,
.social-youtube:focus::before,
.social-youtube:active::before {
  background-color: #5496bd;
    
/*
    Опасити влияет только на фон, а не на саму картинку, как сделать?
  opacity: 0.3;
*/
}

.social-fb::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 179px;
  width: 44px;
  height: 46px;
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(129, 179, 210, 1);
}

.social-youtube::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 230px;
  width: 46px;
  height: 46px;
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(129, 179, 210, 1);
}

/*
.social-icon {
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: rgba(255, 255, 255, 1);
  width: 46px;
  height: 48px;
}

.social-icon:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.social-icon:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.social-icon:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.social-twitter {
  background-image: url(../img/twitter.svg);
}

.social-fb {
  background-image: url(../img/fb-icon.svg);
}

.social-youtube {
  background-image: url(../img/youtube.svg);
}
*/

.modal-travel {
  width: 458px;
  height: 276px;
  margin: 0 auto;
  padding: 47px 55px 56px 55px;
  position: relative;
}

.modal-travel-number {
  
}

.structure-list {
  padding-left: 0px;
}

.structure-list-width {
  width: 140px;
}

.cost-input {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 72px;
}

.welcome {
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translate(-50%);
  width: 460px;
  height: auto;
}

.white-mask {
  position: absolute;
  top: 716px;
  left: 50%;
  transform: translate(-50%);
}

.main-image {
  margin-bottom: 30px;
}


/*.background-mountain {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 21%;
  height: 510px;
  margin-bottom: 37px;
}

.background-welcome {
  background-image: url(../img/intro-welcome.svg);
  background-repeat: no-repeat;
  background-position: 50% 49%;
  background-size: 458px 352px;
  height: 510px;
}

.background-white {
  background-image: url(../img/intro-mask.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 510px;
}*/

.star {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  margin-left: 5px;
  width: 18px;
  height: 17px;
}

.travel-number{
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.button-travel-item {
  background-color: #f2f2f2;
  color: #a9a9a9;
  padding: 4px 12px;
}

.travel-number .travel-item-input {
  width: 40px;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
  padding: 10px 0px;
  margin-top: -4px;
}

.travel-item-out {
  margin-top: 17px;
}

.travel-form-flex {
  display: flex;
  margin-top: 22px;
}

.travel-label-box {
  display: inline-block;
  width: 100px;
}

.travel-children {
  margin-left: 54px;
  margin-right: -36px;
}

.travel-parent {
  margin-right: 12px; 
}

.modal-calendar {
  background-image: url(../img/calendar.svg);
  width: 21px;
  height: 22px;
  color: #a9a9a9;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 11px;
  border: none;
}

.modal-date {
  display: flex;
  align-items: center;
  margin-bottom: -2px;
}

.icon-up-dir {
  background-image: url(../img/icon-up-dir.svg);
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.icon-down-dir {
  background-image: url(../img/icon-down-dir.svg);
  width: 11px;
  height: 10px;
  opacity: 0.3;
  margin-left: 11px;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
  opacity: 1;
}

.icon-up-dir:focus,
.icon-up-dir:active,
.icon-down-dir:focus,
.icon-down-dir:active {
/*  background-color: #81b3d2;*/
}

.active-link,
.active-link:hover,
.active-link:active,
.active-link:focus {
  color: #81b3d2;
  opacity: 1;
}

/*Свойства для формы сортировки стоимости*/

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-left: 1px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  margin-top: -4px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  width: 138px;
  margin-left: 83px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/*Стили для сеток*/

.main-navigation {
  padding-top: 14px;
  padding-bottom: 18px;
}

.main-navigation .site-navigation {
  padding: 0;
  margin: 0;
  margin-bottom: -2px;
}

.site-navigation-info {
  margin-left: 73px;
  padding-left: 0px;
}

.site-navigation-foto {
  margin-right: auto;
}

.site-navigation-map {
  margin-left: auto;
  text-align: right;
  padding-right: 3px;
}

.site-navigation-hotels {
  text-align: right;
  margin-right: 73px;
}

.container-hashtag,
.container-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 53px;
  margin-left: 29.5%;
  margin-right: 29.5%;
  text-align: center;
}

.background-reasons-text {
  width: 400px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.reasons-text-padding {
  padding-left: 50px;
  padding-right: 50px;
}

.background-reasons-text .caption {
  padding-left: 75px;
  padding-right: 74px;
  padding-top: 47px;
  margin-top: 0px;
  margin-bottom: 23px;
}

.feature-list {
  display: flex;
  padding-left: 0px;
  list-style: none;
}

.feature-list .feature-item {
  width: 33.3%;
  text-align: center;
  margin-top: 74px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.feature-item .description2 {
  margin-top: 0px;
}

.reasons-other {
  margin-bottom: 33px;
  background-color: #eeeeee;
  padding-bottom: 60px;
  padding-top: 27px;
}

.reasons-other-list {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.reasons-other-description {
  font-weight: 400;
  color: #333333;
  margin-bottom: 21px;
}

.reasons-other .description5 {
  padding-left: 23px;
  padding-right: 23px;
}

.reasons-other .description6 {
  padding-left: 15px;
  padding-right: 15px;
}

.reasons-other-list .reasons-other-item {
  text-align: center;
  width: 33.3%;
  padding: 0px 50px;
}


/* Отступы вроде один в один, как на макете, а переносы строк все равно получаются другими */

.reasons-other-item-correction2 {
  padding: 0px 0px;
}

/*.reasons-other-item-correction1 {
  padding-left: 72px;
  padding-right: 95px;
}

.reasons-other-item-correction2 {
  padding-left: 50px;
  padding-right: 68px;
}

.reasons-other-item-correction3 {
  padding-left: 78px;
  padding-right: 72px;
}*/

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 36px;
}

.main-footer-item {
  list-style: none;
  width: 100%;
  padding-right: 6px;
}

.main-footer-container {
  padding-left: 4px;
}

.main-footer-box {
  width: 33.3%;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-footer .hashtag {
 margin-top: 24px; 
}

.main-footer .topic {
 margin-top: 24px; 
}

.main-footer-img {
  margin-top: -2px;
  margin-left: 11px;
  width: 115px;
  height: 37px;
}

.footer-copyright {
  align-items: center;
}

.filter-form {
  display: flex;
  width: 100%;
  margin-top: 27px;
  margin-left: 0px;
}

.filter-form .filter-range {
  margin-left: auto;
  margin-left: 345px;
}

.filter-form .house {
  margin-left: 117px;
}

.filter-form-box {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
}

.sort {
  display: flex;
  align-items: baseline;
  margin-left: 73px;
  margin-right: 73px;
  margin-bottom: 0px;
}

.sort-box {
  display: flex;
}

.sort-box2 {
  margin-left: auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 45px;
}


/*Обводки для сеток*/

/*.container2 {
  border: 1px solid red;
}

.filter {
  border: 1px solid green;
}

.modal-travel {
  border: 1px solid red;
}

.modal-date {
  border: 1px solid green;
}*/

.img-background-absolute {
  position: absolute;
  top: 983px;
  left: 312px;
  opacity: 0.8;
}

/*
.background-inner-absolute {
  position: absolute;
  top: 0px;
  left: 72px;
  opacity: 0.5;
}
*/

/*.date-box {
  border: 1px solid red;
}

.travel-label-box {
  border: 1px solid yellow;
}*/

/*
.travel-number {
  border: 1px solid green;
}
*/

