body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;    
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.5;
}

.background-reasons {
  background-color: #81b3d2;
}

.reasons .caption {
  font-size: 21px;
  color: #ffffff;
}

.reasons .description {
  color: #ffffff;
  font-weight: 400;
}

.reasons-other-item {
  list-style: none;
}

.reasons .caption2 {
  font-size: 21px;
}

.reasons .description2 {
  font-weight: 400;
  color: #333333;
}

.feature-list {
  list-style: none;
}

.future-caption {
  font-size: 21px;
}

.future-description {
  font-weight: 400;
  color: #333333;
}

.text {
  font-size: 26px;
}

.container {
  text-align: center;
  /*background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;*/
}

.container .text {
  font-size: 20px;
}

.text-small {
  font-weight: 400;
}

.text-very-small {
  font-size: 12px;
  font-weight: 400;
}

.button {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.button-hotel-search {
  background-color: #766357;
  padding: 34px 140px;
}

.button-hotel-search:hover {
  background-color: #604e43;
}

.button-hotel-search:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.5);
}
.button-travel-form {
  background-color: #81b3d2;
  padding: 20px 196px;
}

.button-travel-form:hover {
  background-color: #669ec0;
}

.button-travel-form:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}

.button-sort {
  font-size: 12px;
  color: #000000;
  opacity: 0.5;
  border-bottom: 1px dashed #81b3d2;
  font-weight: 400;
}

.button-sort:hover {
  color: #81b3d2;
}

.button-sort:focus {
  color: #000000;
  opacity: 1;
}

.button-hotel-list {
  color: #000000;
}

.button-hotel-list:hover {
  color: #81b3d2;
}

.button-hotel-list:focus {
  color: #000000;
  opacity: 0.5;
}

.button-filter {
  background-color: transparent;
  border: 2px solid #ffffff;
  font-weight: 400;
  padding: 11px 35px;
  border-radius: 3px;
  font-size: 14px;
}

.button-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.button-detail {
  background-color: #81b3d2;
  padding: 9px 19px;
  font-size: 14px;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  background-color: #5496bd;
}

.button-occupy {
  background-color: #766357;
  padding: 8px 17px;
  font-size: 14px;
}

.button-occupy:hover {
  background-color: #604e43;
}

.button-occupy:focus {
  background-color: #503e33;
}

 /*.hotel-search .button {
  font: inherit;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: 8px 17px;
 }

.hotel-search .button:hover {
  background-color: #604e43;
  cursor: pointer;
}

.hotel-search .button:focus,
.hotel-search .button:active {
  background-color: #503e33;
  color: #928a85;
}*/

.main-footer .text {
  font-size: 20px;
}

.main-footer-item {
  list-style: none;
}

.footer-copyright span {
  font-weight: 400;
}

/*.modal-travel .button {
  background-color: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 8px 17px;
}

.modal-travel .button:hover {
  background-color: #669ec0;
  cursor: pointer;
}

.modal-travel .button:focus,
.modal-travel .button:active {
  background-color: #5496bd;
  color: #8fb6d0;
}*/

::-webkit-input-placeholder {
  color: #000000;
  font-weight: bold;
}
:-moz-input-placeholder {
  color: #000000;
  font-weight: bold;
}
::-moz-input-placeholder {
  color: #000000;
  font-weight: bold;
}
:-ms-input-placeholder {
  color: #000000;
  font-weight: bold;
}

.filter {
  background-color: #86a5c4;
  color: white;
}

.filter-option {
  font-weight: 400;
  list-style: none;
}

/*.filter .button {
  background-color: transparent;
  text-transform: uppercase;
  color: white;
}

.filter .button:hover {
  color: #000000;
  background-color: white;
}*/

/*.sort a {
  color: #928a85;
  font-weight: 400;
  border-bottom: 1px dashed #aad3ed;
}

.sort a:hover {
  color: #aad3ed;
}

.sort a:focus {
  color: #aad3ed;
  border-bottom: none;
}

.sort a:active {
  color: #000000;
}*/

.hotels-item {
  list-style: none;
}

/*.button-detail {
  color: white;
  background-color: #81b3d2;
  padding: 8px 17px;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus,
.button-detail:active {
  background-color: #5496bd;
  color: #8fb6d0;
}


.button-occupy {
  color: white;
  background-color: #766357;
  padding: 8px 17px;
}

.button-occupy:hover {
  background-color: #604e43;
}

.button-occupy:focus,
.button-occupy:active {
  background-color: #503e33;
  color: #928a85;
}*/

/*.hotel-list-info .link-hotel a {
  color: #000000;
}

.hotel-list-info .link-hotel a:hover,
.hotel-list-info .link-hotel a:focus {
  color: #81b3d2;
}

.hotel-list-info .link-hotel a:active {
  color: #000000;
    opacity: 0.5;
}*/